body {margin: 3%;}
      p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        color: #636363;
      }
      h1, h2 {
        font-family: 'Zilla Slab Highlight', cursive;
        margin: 0;
      }
      h2 {font-size: 5em;}
      h1 {
        font-size: 8em; 
      }
      a {color: darkslategrey;}
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
        h1 {font-size: 18vw;}
        h2 {font-size: 14vw;}
      }
